IO_Tester:
  Name: HW Tester
  Version: 1.0.0
  Description: A tool for testing and validating hardware pin configurations.
Debug:
  mode: false
IO_Box:
  Type: MTC_AFT
  AvailableTypes:
  - Demo
  - MTC_FWD
  - MTC_AFT
Board:
  Type: ControllinoMega
  AvailableTypes:
  - ControllinoMega
  - ArduinoMega
  - ArduinoUno
  - none
  Port: COM5
  BaudRate: 115200
  simulation: false
Timeouts:
  duration: 0.5
  sample_interval: 0.1
  TestStep: 2.5
  Connection: 5.0
  pins_to_stabilize: 0.1
scale:
  voltage: 6.14
  voltage_degredation: 3.0
  voltage_tolerance: 3.0
  zero_voltage_threshold: 0.5
Paths:
  Path_1: C:/ArduinoProject/IO_Tester
  Path_2: src/hw_tester/config/pin_map.json
  Path_3: results
  ConnectorAddressMap: src/hw_tester/config/connector_Address_map.xlsx
  ConnectorAddressMap_A: src/hw_tester/config/connector_Address_A_map.xlsx
  ConnectorAddressMap_B: src/hw_tester/config/connector_Address_B_map.xlsx
  ConnectorAddressMap_ControllinoMega: src/hw_tester/config/connector_Address_map.xlsx
  ConnectorAddressMap_ArduinoMega: src/hw_tester/config/connector_Address_map.xlsx
  ConnectorAddressMap_ArduinoUno: src/hw_tester/config/connector_Address_map.xlsx
  powerup_MTC_FWD: tests/DB/MTC_FWD/powerup_MTC_FWD.json
  powerdown_MTC_FWD: tests/DB/MTC_FWD/powerdown_MTC_FWD.json
  powerup_MTC_AFT: tests/DB/MTC_AFT/powerup_MTC_AFT.json
  powerdown_MTC_AFT: tests/DB/MTC_AFT/powerdown_MTC_AFT.json
ExcelColumns:
  ID: B
  Connect: C
  Type: F
  Power_Expected: H
  Power_Input: I
  PullUp_Expected: J
  PullUp_Input: K
  Logic_Pin_Input: L
  Logic_Expected: M
  Test_Result: N
Measure_value:
  Scale_1: 6
Logging:
  Level: INFO
  File: logs/hwtester.log
Test_trshhold:
  P_T_R_Connection_Tolerance: 0.5
  I_T_R_Connection_Tolerance: 0.5
  L_T_R_Connection_Tolerance: 0.5
UDP_Settings:
  Frequency_Hz: 20.0
  Communication_Timeout: 2.0
  Cards:
  - card_id: 1
    enabled: true
    send_ip: 192.168.195.11
    send_port: 2880
    receive_ip: 192.168.195.10
    receive_port: 1011
  - card_id: 2
    enabled: true
    send_ip: 192.168.195.12
    send_port: 2880
    receive_ip: 192.168.195.10
    receive_port: 1012
  - card_id: 3
    enabled: true
    send_ip: 192.168.195.13
    send_port: 2880
    receive_ip: 192.168.195.10
    receive_port: 1013
  - card_id: 4
    enabled: true
    send_ip: 192.168.195.14
    send_port: 2880
    receive_ip: 192.168.195.10
    receive_port: 1014
  - card_id: 5
    enabled: true
    send_ip: 192.168.195.15
    send_port: 2880
    receive_ip: 192.168.195.10
    receive_port: 1015
  - card_id: 6
    enabled: false
    send_ip: 192.168.195.16
    send_port: 2880
    receive_ip: 192.168.195.10
    receive_port: 1016
  - card_id: 7
    enabled: false
    send_ip: 192.168.195.17
    send_port: 2880
    receive_ip: 192.168.195.10
    receive_port: 1017
